.w2-cn{
    background-color: #363C43;
    color: #969696;
    border-radius: 19px;
    box-shadow: 5px 5px 5px 0px black;
    
    box-sizing: border-box;
    max-width: 100%;
    min-width: 40.625rem;
    padding-left: 3.75rem;
    padding-right: 3.25rem;
    padding-block: 1.25rem;
    /* overflow-y: scroll; */
    position: relative;
}

.w2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.w2 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: #171717;
    border-radius: 20px;
    padding: 0.8rem 2.2rem;
}

.nav-right{
    display: flex;
    gap: 1.875rem;
}

.add-image{
    box-sizing: border-box;
    font-weight: 800;
    font-size: 0.75rem;
    color: #FFFFFF;
    border-radius: 104px;
    box-shadow: -1.5px -3px 7px 1px rgba(128, 128, 128, 0.551), 2px 5px 14px 0px rgba(0, 0, 0, 0.947);
    text-align: center;
    padding-top: 0.6rem;
    padding-inline: 1.5rem;
}

.add-image span{
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 0.2rem;
}

.nav-btns{
    display: grid;
    grid-template-columns: repeat(2, 2.9rem);
    height: 2.9rem;
    gap: 0.8rem;
}

.nav-btn-cn{
    background: linear-gradient(125deg, #303439 0%, #161718);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -4px 20px 0px rgba(128, 128, 128, 0.455), 2px 4px 40px 0px black;
}

.w2-btm{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    max-width: 37.5rem;
}

.w2-btm img{
    max-width: calc(1rem + 20vw);
    display: block;
}

@media (max-width: 630px) {
    .w2-btm img{
        max-width: calc(3rem + 20vh);
    }
}